In [2]:
import pandas as pd
import numpy as np

In [4]:
pgh_low_crime_data = pd.read_csv("https://data.wprdc.org/datastore/dump/6b11e87d-1216-463d-bbd3-37460e539d86",
                                index_col="CITEDTIME",
                                parse_dates=True)
pgh_low_crime_data.head()

,PK,CCR,GENDER,RACE,AGE,INCIDENTLOCATION,OFFENSES,NEIGHBORHOOD,ZONE,INCIDENTTRACT,COUNCIL_DISTRICT,PUBLIC_WORKS_DIVISION,X,Y
CITEDTIME,,,,,,,,,,,,,,
2016-08-22 23:45:00,1078081,16157849,M,B,29.0,"200 Block N DITHRIDGE ST PITTSBURGH, PA",5503(a)(2) DISORDERLY CONDUCT - UNREASONABLE N...,North Oakland,4,507,8.0,3.0,-79.951692,40.449311
2016-08-22 23:45:00,1078082,16157849,M,W,21.0,"200 Block N DITHRIDGE ST PITTSBURGH, PA",5503(a)(2) DISORDERLY CONDUCT - UNREASONABLE N...,North Oakland,4,507,8.0,3.0,-79.951692,40.449311
2016-08-25 11:10:00,1078083,16159579,NaN,NaN,NaN,"NORTH PARK PITTSBURGH, PA",5505 Public Drunkenness,Allegheny Center,1,2204,NaN,NaN,0.000000,0.000000
2016-08-25 16:42:00,1078084,16159780,M,B,22.0,"7200 Block FRANKSTOWN AV PITTSBURGH, PA","6501(a)(1) Scattering Rubbish; Any waste, dang...",Homewood South,5,1303,9.0,2.0,-79.896254,40.457329
2016-08-28 00:58:00,1078085,16161591,F,W,22.0,"6100 Block BERLIN WY PITTSBURGH, PA",5503(a)(2) DISORDERLY CONDUCT - UNREASONABLE N...,Upper Lawrenceville,2,1011,7.0,2.0,-79.946664,40.485403

In [7]:
data = pgh_low_crime_data.loc[:,["OFFENSES","NEIGHBORHOOD"]]

In [9]:
data.head(10)

,OFFENSES,NEIGHBORHOOD
CITEDTIME,,
2016-08-22 23:45:00,5503(a)(2) DISORDERLY CONDUCT - UNREASONABLE N...,North Oakland
2016-08-22 23:45:00,5503(a)(2) DISORDERLY CONDUCT - UNREASONABLE N...,North Oakland
2016-08-25 11:10:00,5505 Public Drunkenness,Allegheny Center
2016-08-25 16:42:00,"6501(a)(1) Scattering Rubbish; Any waste, dang...",Homewood South
2016-08-28 00:58:00,5503(a)(2) DISORDERLY CONDUCT - UNREASONABLE N...,Upper Lawrenceville
2016-08-29 10:34:00,"5507(a) Obstructing highway, railroad or publi...",Golden Triangle/Civic Arena
2016-08-29 13:00:00,601.08 (a) Open Container Law,Golden Triangle/Civic Arena
2016-08-29 13:00:00,601.08 (a) Open Container Law,Golden Triangle/Civic Arena
2016-05-07 16:30:00,5505 Public Drunkenness,Lower Lawrenceville
2016-04-29 01:05:00,3304(a)(5) CRIMINAL MISCHIEF - Intentionally D...,South Side Flats

In [17]:
# FUNCTION HERE
def filter_greater_than(x,threshold):
    if len(x) < threshold:
        return True
    else:
        return False
# use the custom function to filter out rows
less_crime = data.groupby("NEIGHBORHOOD").filter(filter_greater_than, 
                                                     threshold=25)
# look at what centers are in the data now
less_crime.groupby("NEIGHBORHOOD").count().sort_values(by=["OFFENSES"])

                            OFFENSES
NEIGHBORHOOD
Mt. Oliver Boro                    1
Outside State                      1
Ridgemont                          1
St. Clair                          1
Oakwood                            4
Hays                               4
Mt. Oliver Neighborhood            4
Swisshelm Park                     4
Duquesne Heights                   5
New Homestead                      5
Summer Hill                        5
Arlington Heights                  5
Fairywood                          5
Spring Garden                      6
Regent Square                      7
Unable To Retrieve Address         7
Outside City                       7
Stanton Heights                    8
Windgap                            8
West End                          10
Bon Air                           10
Glen Hazel                        10
Friendship                        10
Allegheny West                    12
East Carnegie                     13
Lower Lawrenceville               14
Polish Hill                       14
Morningside                       15
Upper Hill                        15
Banksville                        16
Westwood                          17
Mount Oliver                      17
Homewood West                     17
Esplen                            18
California-Kirkbride              19
Terrace Village                   19
Perry North                       19
Point Breeze North                20
Lincoln Place                     20
Fineview                          21

In [19]:
less_crime.plot()

TypeError: Empty 'DataFrame': no numeric data to plot